.description-label {
    -fx-font-size: smaller;
}

.accordion .titled-pane-heading .title, .titled-pane-heading > .title {
    -fx-background-color: white;
    -fx-padding: 3;
}

.titled-pane-selected > .title {
    -fx-background-color: #6bd65c;
}

.titled-pane-matched > .title {
    -fx-background-color: #5E96EE;
}

.titled-pane-heading > .title {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;  /*2 10 3 10*/
}

.titled-pane-datetime > .title {
    -fx-base: #6bd65c;
}

.text-input {
    -fx-prompt-text-fill: gray;
}

.time-range-toggle:selected {
    -fx-background-color: #6bd65c;
}

.page-corner {
    -fx-padding: 4.5 4.5 4.5 4.5;
    -fx-background-color: linear-gradient( from 0% 0% to 50% 50%, rgba(252,247,182,0.5), rgba(165,156,49,0.5));
    -fx-shape: "M0,0H9L0,9Z";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 4 , 0.0 , 0 , 0 );
}

#invalid {
    -fx-background-color: #8a1d1d;
    -fx-control-inner-background: #8a1d1d;
}