.root {
    -fx-control-inner-background: #111111;
    -fx-background: #222222;
    -fx-base: #111111;
    -fx-cell-hover-color: -fx-shadow-highlight-color;
}

.description-label {
    -fx-text-fill: rgb(200,200,200);
    -fx-font-size: smaller;
}

.accordion .titled-pane-heading .title, .titled-pane-heading > .title {
    -fx-background-color: linear-gradient(to bottom, derive(#cd853f,100%), derive(#cd853f,0%) 5%, derive(#cd853f,-25%) 95%, derive(#cd853f,50%) 100%);
    -fx-text-fill: white;
    -fx-padding: 3;
}

.titled-pane > .title {
    -fx-base: #333333;
}
.titled-pane-selected > .title {
    -fx-background-color: linear-gradient(to bottom, derive(#5E9656,100%), derive(#5E9656,0%) 5%, derive(#5E9656,-25%) 95%, derive(#5E9656,50%) 100%);
}

.titled-pane-matched > .title {
    -fx-background-color: linear-gradient(to bottom, derive(#5E96EE,100%), derive(#5E96EE,0%) 5%, derive(#5E96EE,-25%) 95%, derive(#5E96EE,50%) 100%);
}

.titled-pane-heading > .title {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;  /*2 10 3 10*/
}

.titled-pane-datetime > .title {
    -fx-base: #5E9656;
}

.text-input {
    -fx-prompt-text-fill: gray;
}

.time-range-toggle:selected {
    -fx-background-color: #5E9656;
}

.page-corner {
    -fx-padding: 4.5 4.5 4.5 4.5;
    -fx-background-color: linear-gradient( from 0% 0% to 50% 50%, rgba(252,247,182,0.5), rgba(165,156,49,0.5));
    -fx-shape: "M0,0H9L0,9Z";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 4 , 0.0 , 0 , 0 );
}

.scroll-bar:vertical .track {
    -fx-background-color:#333333;
    -fx-background-insets:  0, 1;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar .increment-button {
    -fx-background-color: #333333;
}

.scroll-bar .decrement-button {
    -fx-background-color: #333333;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 4 L 3 0 z";
}

.scroll-bar:vertical .track-background {
    -fx-background-color: #333333;
    -fx-background-insets:  0, 1;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 -4 L 3 0 z";
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:#bbbbbb;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar:vertical .thumb {
    -fx-background-color:#bbbbbb;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

#invalid {
    -fx-background-color: #8a1d1d;
    -fx-control-inner-background: #8a1d1d;
}
