/* TODO: check if all of the styles are actually being used and remove the ones
that aren't */

.root {
    -fx-base: #111111;
    -fx-color: #111111;
}

.label {
    -fx-text-fill: #e0e0e0;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-color: #1f6fba;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5 4 3 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 3, 0.0, 0, 1);
    -fx-padding: 5 5 5 5;

}
.button:disabled {
    -fx-opacity: 0.2;
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background-color: /* #cd853f */
        linear-gradient(to bottom, derive(rgba(205,133,63,0.65),100%), derive(rgba(205,133,63,0.65),0%) 5%, derive(rgba(205,133,63,0.65),-25%) 95%, derive(rgba(205,133,63,0.64),50%) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0 0 13 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.page-corner {
    -fx-padding: 4.5 4.5 4.5 4.5;
    -fx-background-color: linear-gradient( from 0% 0% to 50% 50%, rgba(252,247,182,0.5), rgba(165,156,49,0.5)); /* #fcf7b6, #a59c31 */
    -fx-shape: "M0,0H9L0,9Z";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 4 , 0.0 , 0 , 0 );
}

/*******************************************************************************
 *                                                                             *
 * WebView                                                                     *
 *                                                                             *
 ******************************************************************************/

.web-view {
    -fx-context-menu-enabled: true;
    /*    -fx-font-smoothing-type: lcd;
        -fx-font-scale: 1;
        -fx-min-width: 0;
        -fx-min-height: 0;
        -fx-pref-width: 800;
        -fx-pref-height: 600;
        -fx-max-width: 999999999;
        -fx-max-height: 999999999;*/
}

/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
    -fx-skin: "javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:
        derive(-fx-color,-40%),
        derive(-fx-color,25%),
        linear-gradient(to bottom, derive(-fx-color,100%) 0%, derive(-fx-color,50%) 12%, derive(-fx-color,65%) 88%, derive(-fx-color,10%) 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.context-menu .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em; /* 0 4 0 4 */
}

.context-menu .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: transparent;
}

.context-menu .scroll-arrow:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
