/*******************************************************************************
 *                                                                             *
 * Question Pane                                                               *
 *                                                                             *
 ******************************************************************************/
.titled-pane > .title {
    -fx-background-color: linear-gradient(to bottom, derive(#0093FF,100%), derive(#0093FF,0%) 5%, derive(#0093FF,-25%) 95%, derive(#0093FF,50%) 100%);
    -fx-font-weight:bold;
}

.titled-pane {
    -fx-text-fill: white;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: white;
}