/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/
#hide-visualisation-slider .track {
    -fx-background-color: #d6d6d6;
}

#hide-visualisation-slider .thumb {
    -fx-background-color: #333333;
    -fx-border-color: #999999;
    -fx-border-radius: 20px;
}

/*******************************************************************************
 *                                                                             *
 * Document Pane                                                               *
 *                                                                             *
 ******************************************************************************/
.text-input {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

body { 
    background-color: #111111; 
    color: #e0e0e0; 
}

/*******************************************************************************
 *                                                                             *
 * Question Pane                                                               *
 *                                                                             *
 ******************************************************************************/
.titled-pane > .title {
    -fx-background-color: linear-gradient(to bottom, derive(#1c5aa6,100%), derive(#1c5aa6,0%) 5%, derive(#1c5aa6,-25%) 95%, derive(#1c5aa6,50%) 100%);
    -fx-font-weight: bold;
}

.titled-pane {
    -fx-text-fill: white;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: white;
}

#pluginCheckbox {
    -fx-color: black;
}