.menu-button:hover {
    -fx-background-color: #292929;
}

.custom-menu-item {
    -fx-background-color: #313131;

}

.custom-menu-item:focused {
    -fx-background-color: #313131;
}

.spinner{
    -fx-border-color: black;
}

.spinner:focused{
    -fx-border-color: black;
}

.label {
    -fx-text-fill: white;
}

.title-field {
    -fx-text-fill: black;
}

.contentField {
    -fx-control-inner-background:#000000;
    -fx-text-fill: white;
}

.dialog-pane {
    -fx-background-color: black;
}

.applyToSelection {
    -fx-text-fill: white;
}

#add-button {
    -fx-text-fill: white; 
    -fx-padding: 0px 17px;
    -fx-min-height: 25px;
}

.date-picker-popup > .month-year-pane {
    -fx-mark-highlight-color: -fx-light-text-color ;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: #1c5aa6;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #1c5aa6;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}
