.custom-menu-item {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: FF0000;
}

.custom-menu-item:focused {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: FF0000;
}

.label {
    -fx-text-fill: black;
}

#picker-label {
    -fx-text-fill: black;
}

#title-field {
    -fx-text-fill: black;
}

.contentField {
    -fx-control-inner-background:#FFFFFF;
    -fx-text-fill: black;
}

.dialog-pane {
    -fx-background-color: #c8c8c8;
}

.applyToSelection {
    -fx-text-fill: black;
}

.menu-button:hover {
    -fx-background-color: #f0f0f0;
}

.button:hover {
    -fx-background-color: #0093FF;
}

#add-button {
    -fx-text-fill: white; 
    -fx-padding: 0px 17px;
    -fx-min-height: 25px;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: #0093FF;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #0093FF;
    -fx-text-fill: white;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

/*******************************************************************************
 *                                                                             *
 * Time Filter                                                                 *
 *                                                                             *
 ******************************************************************************/

.spinner{
    -fx-border-color: black;
}

.spinner:focused{
    -fx-border-color: black;
}

.menu-button {
    -fx-background-color: linear-gradient(to top, #dbdbdb 0%, #f1f1f1 100%);
    -fx-border-radius: 2px; 
    -fx-border-color: #c8c8c8;
    -fx-mark-color: black;
}

#filter-label {
    -fx-text-fill: black;
}

.calendar-grid {
    -fx-background-color: #0093FF;
}

.date-picker > .text-field {
    -fx-text-fill: black;
}

.date-picker .cell:hover {
    -fx-background-color: #009eff;
}

.date-picker .cell:focused {
    -fx-background-color: #0093FF;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: linear-gradient(to top, #dbdbdb 0%, #f1f1f1 100%);
    -fx-mark-highlight-color: -fx-light-text-color;
    -fx-text-fill: black;
}

.date-picker .spinner-label {
    -fx-text-fill: black;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: black;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: black;
}

.date-picker-popup .spinner {
    -fx-background-color: white;
    -fx-border-radius: 4px;
}
