.null-value {
    -fx-font-style:italic;
    -fx-text-fill: #666666;
}

.element-source {
    -fx-background-color: rgba(153, 179, 255, 0.25);
}

.element-transaction{
    -fx-background-color: rgba(255, 230, 153, 0.25);
}

.element-destination {
    -fx-background-color: rgba(179, 230, 179, 0.25);
}

.pagination {
    -fx-page-information-visible: false;
}

.text-field {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: black;
    -fx-border-radius: 3px;
}

.combo-box .list-cell {
    -fx-background-color: #444444;
}

.combo-box {
    -fx-background-color: white; 
}

/*******************************************************************************
 *                                                                             *
 * Column Visibility Menu                                                      *
 *                                                                             *
 ******************************************************************************/
.button .context-menu { 
    -fx-background-color: #444444;
}

.button .menu-item > .label {
    -fx-text-fill: white; 
}

.button .menu-item:focused > .label { 
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: #D3D3D3;
    -fx-mark-color: black;
}

