/**
 * Table View specific style.
 *
 * @author cygnus_x-1
 */

.null-value {
    -fx-font-style:italic;
    -fx-text-fill: #666666;
}

.element-source {
    -fx-background-color: rgba(153, 179, 255, 0.25);
}

.element-transaction{
    -fx-background-color: rgba(255, 230, 153, 0.25);
}

.element-destination {
    -fx-background-color: rgba(179, 230, 179, 0.25);
}

.pagination {
    -fx-page-information-visible: false;
}