*.jnlp
*.orig
.metadata
*.swp
*.tmp
*~*
*.class
*.dep
*.log
*.pyc
makefile
*.DS_Store
*.bak

.v

build
report
dist
endorsed
/nbproject/private
/*/nbproject/private
*/.jacocoverage/
jacoco*

CoreDependencies/release/modules/ext
CoreDependencies/nbproject/project_old.xml

constellation_client.py