*.jnlp
*.orig
.metadata
*.swp
*.tmp
*~*
*.class
*.dep
*.log
*.pyc
makefile

.v

build
dist
endorsed
/nbproject/private
/*/nbproject/private
*/.jacocoverage/
jacoco*

CoreDependencies/release/modules/ext
/nbproject/project.properties