h1 {
    color:dodgerblue;
    font-family:arial;
}
.text {
    font-size:1.166667em; /* 14pt */
    font-family:arial;
}

a.page:visited {
    color:dodgerblue
}

a.page {
    color:dodgerblue
}

body {
    background-color:#222222;
    color:#FFFFFF;
}

.note {
    font-size:1.000001em; /* 12pt */
    font-family:arial;
    padding-left: 4em;
}

strong {
    font-style: italic;
}