.web-view {
    -fx-context-menu-enabled: false;
}

body {
    background-color: #222222;
    color: white;
    font-family: "Arial Unicode MS", sans-serif;
}

h2 {
    color: lightsteelblue;
}

strong {
    /* For some reason font-weight doesn't seem to work. Use color instead. */
    color: lightsteelblue;
    font-weight: bold;
}

a {
    color: #e4741f;
}

.section {
    font-weight: lighter;
}

.badge {
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
    padding: 2px;
    border-radius: 9px;
}

.badge-recent {
    background-color: #ab0095;
}

.badge-section {
    background-color: #3a87ad;
}