
.choice-box .context-menu { 
    -fx-background-color: white;
}

.choice-box .menu-item:focused { 
    -fx-background-color: black;
}

.choice-box .menu-item > .label {
    -fx-text-fill: black; 
}

.choice-box .menu-item:focused > .label { 
    -fx-text-fill: black;
}