/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
    -fx-text-fill: #000000;
}

.text {
    -fx-text-fill: #000000;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.text-area {
    -fx-prompt-text-fill: gray;
}

/*******************************************************************************
 *                                                                             *
 * Menu                                                                  *
 *                                                                             *
 ******************************************************************************/
.menu-button {
    -fx-background-color: #1f6fba;
    -fx-border-color: #1f6fba;
}

.menu-bar .label {
    -fx-text-fill: #ffffff;
}

.menu:hover {
    -fx-background-color: #0093FF;
}

.context-menu {
    -fx-background-color: #999999;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-base: #1f6fba;
    -fx-text-fill: #ffffff;
}

.toggle-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #999999;
}

.toggle-button:focused {
    -fx-background-color: #999999;
}


.toggle-button:selected {
    -fx-background-color: #1f6fba;
}

.toggle-button:selected:focused {
    -fx-background-color: #1f6fba;
}

/* Uncategorised */

#invalid {
    -fx-background-color: #8a1d1d;
    -fx-control-inner-background: #8a1d1d;
}