/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
    -fx-text-fill: #000000;
}

.text {
    -fx-text-fill: #000000;
}

.text-field {    
    -fx-prompt-text-fill: grey;
}

/*******************************************************************************
 *                                                                             *
 * Menu                                                                  *
 *                                                                             *
 ******************************************************************************/
.menu-button {
    -fx-background-color: #1f6fba;
    -fx-border-color: #1f6fba;
}

.menu:hover{
    -fx-background-color: #0093FF;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button{
    -fx-base: #1f6fba;
    -fx-text-fill: #ffffff;
}