/*******************************************************************************
 *                                                                             *
 * Common                                                                      *
 *                                                                             *
 ******************************************************************************/
.root {
    /* The opacity level to use for the "disabled" pseudoclass.
     */
    -fx-disabled-opacity: 0.4;

    /* The default font size.
     */
    -fx-font-size: 1.000001em; /* 12pt */
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/
.tooltip {
    -fx-padding: 0.333333em 1.666667em 0.333333em 1.666667em; /* 4 8 4 8 */
}

/*******************************************************************************
 *                                                                             *
 * Scrollbar                                                                   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar:vertical .track {
    -fx-background-insets:  0, 1;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 4 L 3 0 z";
}

.scroll-bar:vertical .track-background {
    -fx-background-insets:  0, 1;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 -4 L 3 0 z";
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M 0 3 L 3 0 L 0 -3 z";
}
.scroll-bar:horizontal .track-background {
    -fx-background-insets:  0, 1;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M 0 3 L -3 0 L 0 -3 z";
}
.scroll-bar:horizontal .thumb {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar:vertical .thumb {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

/*******************************************************************************
 *                                                                             *
 * WebView                                                                     *
 *                                                                             *
 ******************************************************************************/
.web-view {
    -fx-font-scale: 0.75;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 3, 0.0, 0, 1);
    -fx-padding: 5 5 5 5;
}

.button:cancel {
}

.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.button:default {
    -fx-base: -fx-accent;
}

.button:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}

.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/* Uncategorised */
.scroll-pane {
    -fx-background-insets: -1.4 0 1;
}

/* size guide */
/*
0.666665em;  8pt
0.749999em;  9pt
0.833333em; 10pt
0.916667em; 11pt
1.000001em; 12pt
1.083333em; 13pt
1.166667em; 14pt
1.666673em; 20pt
1.833341em; 22pt
2.000009em; 24pt
*/
