.custom-color-dialog .controls-pane #settings-pane .slider {
    -fx-pref-width: 8.25em;
}

.slider .thumb {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.583333em;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);
}

.text-field {
    -fx-prompt-text-fill: #909090;
}