#pluginReport {
    -fx-background-radius: 3;
    -fx-border-color: #333333;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.running {
    -fx-background-color: green;
}

.finished {
    -fx-background-color: #555555;
}

.errored {
    -fx-background-color: #8a1d1d;
}

.failed {
    -fx-background-color: orange;
}

.lightNameText {
    -fx-text-fill: #eeeeee;
}

.darkNameText {
    -fx-text-fill: #222222;
}

.lightMessageText {
    -fx-text-fill: white;
}

.darkMessageText {
    -fx-text-fill: #222222;
}

.interrupted {
    -fx-background-color: blue;
}

.progress-bar .bar {
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 3 4 4 4;
}