/*
    This should be used as the base css file for all javafx modules
    in order to provide a consistent look across the application.

    Created on : 24/06/2014, 5:34:13 PM
    Author     : twinkle2_little
*/
/*******************************************************************************
 *                                                                             *
 * Common                                                                      *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-control-inner-background: #111111;
    -fx-background: #222222;
    -fx-base: #111111;
    -fx-cell-hover-color: -fx-shadow-highlight-color;
    -fx-font-size: 1.000001em; /* 12pt */
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
    -fx-text-fill: #e0e0e0
}
.text {
    -fx-text-fill: #e0e0e0
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/
.tooltip {
    -fx-padding: 0.333333em 1.666667em 0.333333em 1.666667em; /* 4 8 4 8 */
}
.tooltip .text{
    -fx-fill: #e0e0e0;
}

/*******************************************************************************
 *                                                                             *
 * Scrollbar                                                                   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar:vertical .track {
    -fx-background-color:#333333;
    -fx-background-insets:  0, 1;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}
.scroll-bar .increment-button {
    -fx-background-color: #333333;
}

.scroll-bar .decrement-button {
    -fx-background-color: #333333;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 4 L 3 0 z";
}

.scroll-bar:vertical .track-background {
    -fx-background-color: #333333;
    -fx-background-insets:  0, 1;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 -4 L 3 0 z";
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M 0 3 L 3 0 L 0 -3 z";
}
.scroll-bar:horizontal .track-background {
    -fx-background-color: #333333;
    -fx-background-insets:  0, 1;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M 0 3 L -3 0 L 0 -3 z";
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:#bbbbbb;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar:vertical .thumb {
    -fx-background-color:#bbbbbb;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.titled-pane{
    -fx-base: #333333;
}

/*******************************************************************************
 *                                                                             *
 * WebView                                                                     *
 *                                                                             *
 ******************************************************************************/

.web-view {
    -fx-font-scale: 0.75;
}

/* size guide */
/*
0.666665em;  8pt
0.749999em;  9pt
0.833333em; 10pt
0.916667em; 11pt
1.000001em; 12pt
1.083333em; 13pt
1.166667em; 14pt
1.666673em; 20pt
1.833341em; 22pt
2.000009em; 24pt
*/