/**
 * Container specific style.
 *
 * @author betelgeuse
 */
#hiddenSplitter {
    -fx-background-color: null;
    -fx-padding: 0px;
}
#hiddenSplitter *.split-pane-divider,
#hiddenSplitter *.horizontal-grabber {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-padding: 1px;
}
