/**
 * Attribute editor specific style.
 *
 * @author twinkle2_little
 */

/* ====== TOOLBAR CLASSES ================================================================= */


.button{
    -fx-base: #1f6fba;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5 4 3 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 3, 0.0, 0, 1);
    -fx-padding: 5 5 5 5;
}

.button:disabled {
    -fx-opacity: 0.2;
}

.scroll-pane {
    -fx-background-color: #444444;
    -fx-background-insets: -1.4 0 1;
}

.button:armed{
    -fx-color: derive(#1f6fba, -20%);
}

.titled-pane{
    -fx-base: #333333;
}

.toggle-button {
    -fx-background-color: #666666;
}

.toggle-button:focused {
    -fx-background-color: #666666;
}


.toggle-button:selected {
    -fx-background-color: #1f6fba;
}

.toggle-button:selected:focused {
    -fx-background-color: #1f6fba;
}
/* ====== TEXT CLASSES =================================================================== */

.attributeName{
    -fx-fill: #e0e0e0;
}

.undisplayedValue {
    -fx-font-style:italic;
    -fx-text-fill: #666666;
}

.titled-pane .graphic-container .text .hidden{
    -fx-text-fill: #999999;
}

.titled-pane .hidden{
    -fx-base:#777777;
}

#primarykey{
    -fx-base:#8a1d1d;

}

.hidden#primarykey{
    -fx-base:#ba4d4d;
}

#custom{
    -fx-base:#1f4f8a;
}

.hidden#custom{
    -fx-base:#4f7fba;
}

/* ====== ListView CLASSES ================================================================ */
.list-view {
    -fx-control-inner-background: #444444;
}
.list-cell {
    -fx-cell-hover-color: #1f6fba;
    -fx-control-inner-background: #444444;
}


.separator .line{
    -fx-border-color: #e0e0e0;
}

