/**
 * Overview specific style.
 *
 * @author betelgeuse
 */

/* ====== REGION TOP LEVEL ITEMS ============================================= */
.region {
    -fx-background-color: #000000;
}
.anchor-pane {
    -fx-padding: 0;
}

/* ====== CHART TOP LEVEL ITEMS ============================================== */
.chart {
    -fx-padding: 0px;
    -fx-border-color: #666666;
}
.chart-content {
    -fx-padding: 0px;
}

/* ====== AXIS =============================================================== */
.axis {
    -fx-tick-label-font: 0.833333em System; /* 10 pix */
    -fx-tick-label-fill: -fx-text-background-color;
    -fx-tick-labels-visible: false;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;
    -fx-padding: 0;
}
.axis:top {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:bottom {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-tick-marks-visible: false;
}
.axis:left {
    -fx-border-color: transparent #666666 transparent transparent;
    -fx-tick-marks-visible: false;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.axis .text {
    -fx-font-smoothing-type: lcd;
}

/* ====== LABELS  ============================================================ */
.label {
    -fx-padding: 0px;
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: false;
}