name: Create Nightly Build

on:
  schedule:
    # 20 past midnight on week days
    - cron: '0 20 * * 1-5'
  release:
    types: [prereleased, released]

jobs:
  create-nightly-build:

    runs-on: ubuntu-latest

    env:
      RUNNER_IMAGE: constellationapplication/netbeans-runner:21.0.2

    steps:
      - name: Checkout Constellation Repository
        uses: actions/checkout@v4
        with:
          repository: constellation-app/constellation
          path: constellation

      - name: Checkout Constellation Adaptors Repository
        uses: actions/checkout@v4
        with:
          repository: constellation-app/constellation-adaptors
          path: constellation-adaptors

      - name: Checkout Constellation Applications Repository
        uses: actions/checkout@v4
        with:
          repository: constellation-app/constellation-applications
          path: constellation-applications

      # Cache the ivy dependencies.
      - name: Restore Cache
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: ~/.ivy2/cache
          key: ${{ runner.os }}-ivy-${{ hashFiles('constellation/CoreDependencies/src/ivy.xml') }}
        
      - name: Create Cache Folder
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          mkdir ~/.ivy2
          mkdir ~/.ivy2/cache

      - name: Add Execute Privilege to Scripts
        run: |
          chmod +x constellation-applications/build-zip.sh
          chmod +x constellation-applications/functions.sh

      - name: Build Zips
        uses: maus007/docker-run-action-fork@v3
        with:
          image: ${{ env.RUNNER_IMAGE }}
          options: |
            --volume ${{ github.workspace }}:/code
            --volume /home/runner/.ivy2:/root/.ivy2
            --workdir /code/constellation-applications
          run: |
            git config --global --add safe.directory /code/constellation
            git config --global --add safe.directory /code/constellation-adaptors
            ./build-zip.sh -a constellation -m "constellation constellation-adaptors"

      - name: Upload Linux Build
        uses: actions/upload-artifact@v4
        with:
          name: Linux Nightly Build
          path: constellation-applications/constellation/dist/constellation-linux**
          retention-days: 2

      - name: Upload MacOS Build
        uses: actions/upload-artifact@v4
        with:
          name: MacOSX Nightly Build
          path: constellation-applications/constellation/dist/constellation-macosx**
          retention-days: 2

      - name: Upload Windows Build
        uses: actions/upload-artifact@v4
        with:
          name: Windows Nightly Build
          path: constellation-applications/constellation/dist/constellation-win**.zip
          retention-days: 2
