name: Create Release Build

on: workflow_dispatch
 
jobs:
  create-release-build:
    runs-on: ubuntu-latest
    env:
      RUNNER_IMAGE: "constellationapplication/netbeans-runner:21"
      ADAPTORS_VERSION: "v2.11.0"
    container:
      image: docker://pandoc/latex:2.9
      options: --entrypoint=bash
    steps:
      - name: Update GH Actions Tools 
        run: |
          apk update
          apk upgrade
          apk add --no-cache coreutils
          apk add bash docker git sed
      - name: Create Workspace Dir for operations
        run: |
              mkdir -p ./workspace
      - name: Checkout Constellation repository
        uses: actions/checkout@v2
        with:
          repository: constellation-app/constellation
          path: ./workspace/constellation
      - name: Checkout Constellation Adaptors repository
        uses: actions/checkout@v2
        with:
          repository: constellation-app/constellation-adaptors
          path: ./workspace/constellation-adaptors
      - name: Checkout Constellation Applications repository
        uses: actions/checkout@v2
        with:
          repository: constellation-app/constellation-applications
          path: ./workspace/constellation-applications
      - name: Update Version Number
        run: |
               sed -i "s/(under development)/$ADAPTORS_VERSION/" ./workspace/constellation/CoreFunctionality/src/au/gov/asd/tac/constellation/functionality/startup/Startup.java
      - name: Add Execute Privilege to Scripts
        run: |
              chmod +x ./workspace/constellation-applications/build-zip.sh
              chmod +x ./workspace/constellation-applications/functions.sh
      - name: Run build process within Docker container
        run: |
            docker pull "${RUNNER_IMAGE}"
            docker run -e GIT_DISCOVERY_ACROSS_FILESYSTEM=1 \
            --mount "type=bind,source=/,target=/home/runner/work/constellation" \
            --workdir /home/runner/work/constellation/home/runner/work/constellation/constellation/workspace/constellation-applications \
            constellationapplication/netbeans-runner:21 \
            ./build-zip.sh -a constellation -m "constellation constellation-adaptors"
      - name: Upload Linux Build
        uses: actions/upload-artifact@v2.3.0
        with:
          name: Linux Release Build
          path: ./workspace/constellation-applications/constellation/dist/constellation-linux**
          retention-days: 2
      - name: Upload MacOS Build
        uses: actions/upload-artifact@v2.3.0
        with:
          name: MacOSX Release Build
          path: ./workspace/constellation-applications/constellation/dist/constellation-macosx**
          retention-days: 2
      - name: Upload Windows Build
        uses: actions/upload-artifact@v2.3.0
        with:
          name: Windows Release Build
          path: ./workspace/constellation-applications/constellation/dist/constellation-win**.zip
          retention-days: 2
