name: Create Release Build

on: workflow_dispatch

jobs:
  create-release-build:

    runs-on: ubuntu-latest

    env:
      RELEASE_VERSION: "v3.3.0"
      RUNNER_IMAGE: constellationapplication/netbeans-runner:21.0.2

    steps:
      - name: Checkout Constellation repository
        uses: actions/checkout@v4
        with:
          repository: constellation-app/constellation
          path: constellation

      - name: Checkout Constellation Adaptors repository
        uses: actions/checkout@v4
        with:
          repository: constellation-app/constellation-adaptors
          path: constellation-adaptors

      - name: Checkout Constellation Applications repository
        uses: actions/checkout@v4
        with:
          repository: constellation-app/constellation-applications
          path: constellation-applications

      - name: Update Version Number
        run: |
          sed -i "s/(under development)/$RELEASE_VERSION/" constellation/CoreFunctionality/src/au/gov/asd/tac/constellation/functionality/startup/Startup.java
          sed -i "s/(under development)/$RELEASE_VERSION/" constellation/CoreWebServer/src/au/gov/asd/tac/constellation/webserver/api/swagger/constellation.json
          
      # Cache the ivy dependencies.
      - name: Restore Cache
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: ~/.ivy2/cache
          key: ${{ runner.os }}-ivy-${{ hashFiles('constellation/CoreDependencies/src/ivy.xml') }}
        
      - name: Create Cache Folder
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          mkdir ~/.ivy2
          mkdir ~/.ivy2/cache
      
      - name: Add Execute Privilege to Scripts
        run: |
          chmod +x constellation-applications/build-zip.sh
          chmod +x constellation-applications/functions.sh

      - name: Build Zips
        uses: maus007/docker-run-action-fork@v1
        with:
          image: ${{ env.RUNNER_IMAGE }}
          options: |
            --volume ${{ github.workspace }}:/code
            --volume /home/runner/.ivy2:/root/.ivy2
            --workdir /code/constellation-applications
          run: |
            git config --global --add safe.directory /code/constellation
            git config --global --add safe.directory /code/constellation-adaptors
            ./build-zip.sh -a constellation -m "constellation constellation-adaptors"

      - name: Upload Linux Build
        uses: actions/upload-artifact@v4
        with:
          name: Linux Release Build
          path: constellation-applications/constellation/dist/constellation-linux**
          retention-days: 2

      - name: Upload MacOS Build
        uses: actions/upload-artifact@v4
        with:
          name: MacOSX Release Build
          path: constellation-applications/constellation/dist/constellation-macosx**
          retention-days: 2

      - name: Upload Windows Build
        uses: actions/upload-artifact@v4
        with:
          name: Windows Release Build
          path: constellation-applications/constellation/dist/constellation-win**.zip
          retention-days: 2
