/**
 * Timeline specific style.
 *
 * @author betelgeuse
 */

/* ====== CHART TOP LEVEL ITEMS =========================================================== */
.chart {
    -fx-padding: 0px;
    -fx-border-color: #444444;
    -fx-background-color: #444444;
}
.chart-content {
    -fx-padding: 0px;
}
.chart-plot-background {
    -fx-background-color: #444444;
    -fx-border-color: #777777;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
}
.chart-alternative-column-fill {
    -fx-fill: #aaaaaa;
}
.chart-horizontal-grid-lines {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.chart-vertical-grid-lines {
    -fx-fill: #777777;
    -fx-stroke: #777777;
}

/*====SCROLL BAR ========================================================================== */
.scroll-bar:vertical .track {
    -fx-background-color:
        #333333,
        linear-gradient(to right, derive(#333333,-15%), derive(#333333,2.2%) 20%, derive(#333333,60%));
    -fx-background-insets:  0, 1;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}
.scroll-bar .increment-button {
    -fx-background-color:
        #333333,
        linear-gradient(to bottom, derive(#333333,30%) 5%, derive(#333333,-17%));
    -fx-background-insets:  0, 1;
    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar .decrement-button {
    -fx-background-color:
        #333333,
        linear-gradient(to bottom, derive(#333333,30%) 5%, derive(#333333,-17%));
    -fx-background-insets:  0, 1;
    -fx-padding: 0.25em; /* 3 */
}


.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 4 L 3 0 z";
}

.scroll-bar:vertical .track-background {
    -fx-background-color:
        #333333,
        linear-gradient(to right, derive(#333333,-15%), derive(#333333,2.2%) 20%, derive(#333333,60%));
    -fx-background-insets:  0, 1;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, #D3D3D3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M -3 0 L 0 -4 L 3 0 z";
}
.scroll-bar:horizontal .thumb {
    -fx-color: #bbbbbb;
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,95%), derive(-fx-color,10%)),
        linear-gradient(to bottom, derive(-fx-color,38%), derive(-fx-color,-16%));
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar:vertical .thumb {
    -fx-color: #bbbbbb;
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to right, derive(-fx-color,95%), derive(-fx-color,10%)),
        linear-gradient(to right, derive(-fx-color,38%), derive(-fx-color,-16%));
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
}

/* ====== AXIS ============================================================================ */
.axis {
    -fx-tick-label-font: 0.833333em System; /* 10 pix */
    -fx-tick-label-fill: #ffffff;
    -fx-tick-length: 0px;
}
.axis:top {
    -fx-border-color: transparent transparent #777777 transparent;
    -fx-tick-marks-visible: false;
}
.axis:right {
    -fx-border-color: transparent transparent transparent #777777;
}
.axis:bottom {
    -fx-border-color: #777777 transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent #777777 transparent transparent;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: #777777;
}
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #777777;
}
.axis .text {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
}

/* ====== TOOLBAR CLASSES ================================================================= */
.tool-bar {
    -fx-base: #333333;
}

/* ====== TEXT CLASSES =================================================================== */
.label .text {
    -fx-fill: #D3D3D3;
}

/* ====== TOOLTIP CLASSES ================================================================ */
.tooltip {
    -fx-background-radius: 2 2 2 2;
}
.page-corner {
    -fx-shape: " ";
}

#extentLabel{
    -fx-background-color: #33333399;
    -fx-font: 1.000001em "Arial"; /* 12pt */
}