/**
 * Overview specific style.
 *
 * @author betelgeuse
 */

.root {
    -fx-control-inner-background: #111111;
    -fx-background: #111111;
    -fx-base: #111111;
}

/* ====== REGION TOP LEVEL ITEMS ============================================= */
.region {
    -fx-background-color: #000000;
}
.anchor-pane {
    -fx-padding: 0px;
    -fx-background-color: #111111;
}

/* ====== CHART TOP LEVEL ITEMS ============================================== */
.chart {
    -fx-padding: -5 0 10 0;
    -fx-border-color: #111111;
    -fx-background-color: #111111;
    -fx-fill: #111111;
    /*-fx-translate-x: -5;*/
    -fx-translate-y: 3;
}
.chart-plot-background {
    -fx-background-color: #111111;
}
.chart-alternative-row-fill {
    -fx-fill: #111111;
}
.chart-content {
    -fx-padding: 0px;
    -fx-border-color: #111111;
    -fx-background-color: #111111;
}
.chart-vertical-grid-lines {
    -fx-fill: #666666;
    -fx-stroke: #666666;
}
/*.chart-bar {
    -fx-fill: linear-gradient(to bottom, white, rgba(255,255,255,0);
}*/

/* ====== AXIS =============================================================== */
.axis {
    -fx-tick-label-font: 0.833333em System; /* 10 pix */
    -fx-tick-label-fill: white;
    -fx-tick-labels-visible: false;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;
    -fx-padding: 0px;
    -fx-background-color: #111111;
    -fx-fill: #111111;
}
.axis:top {
    -fx-border-color: transparent transparent #111111 transparent;
    -fx-padding: 0px;
    -fx-background-color: #111111;
    -fx-fill: #111111;
}
.axis:right {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:bottom {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-tick-marks-visible: true;
}
.axis:left {
    -fx-border-color: transparent #111111 transparent transparent;
    -fx-tick-marks-visible: false;
    -fx-padding: 0px;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.axis .text {
    -fx-font-smoothing-type: lcd;
    -fx-font-color: white;
}

/* ====== AREA CHART ========================================================= */
.default-color0.chart-series-area-fill { -fx-fill: #0099cc88; }
.default-color0.chart-area-symbol { -fx-background-color: #009988, white; }
.default-color0.chart-series-area-line { -fx-stroke: #0099cc; }

.default-color1.chart-series-area-fill { -fx-fill: #c81300aa; }
.default-color1.chart-area-symbol { -fx-background-color: #ca1500, white; }
.default-color1.chart-series-area-line { -fx-stroke: #e11a00; }

.chart-area-symbol {
    -fx-background-color: #0099cc, white;
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0px; /* makes sure this remains circular */
    -fx-padding: 0px;
}

/* ====== LABELS  ============================================================ */
.label {
    -fx-padding: 0px;
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: false;
}

.rectangle .shape {
    -fx-stroke-color:dodgerblue;
    -fx-stroke-width:2;
    -fx-fill: linear-gradient(to bottom, lightblue, white);
}