/**
 * Timeline specific style.
 *
 * @author betelgeuse
 */

/* ====== CHART TOP LEVEL ITEMS =========================================================== */
.chart {
    -fx-padding: 0px;
    -fx-border-width: 2px;
}
.chart-content {
    -fx-padding: 0px;
}
.chart-symbol:hover {
    -fx-border-color: red;
    -fx-border-width: 2px;
}
.chart-symbol:selected {
    -fx-border-color: dodgerblue;
    -fx-border-width: 4px;
}
.chart-symbol #Series1 {
    -fx-border-color: dodgerblue;
    -fx-border-width: 4px;
}

/* ====== AXIS ============================================================================ */
.axis {
    -fx-tick-label-font: 0.833333em System; /* 10 pix */
    -fx-tick-label-fill: -fx-text-background-color;
    -fx-tick-marks-length: 3px;
    -fx-minor-tick-marks-length: 1px;
}
.axis:top {
    -fx-border-color: transparent transparent #666666 transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent #666666;
}
.axis:bottom {
    -fx-border-color: #666666 transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent #666666 transparent transparent;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: #666666;
}
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #AAAAAA;
}
.axis .text {
    -fx-font-smoothing-type: lcd;
}
